@media all and (min-width: 480px) {
    .LoginContainer {
      padding: 30px;
  margin: auto;
  margin-top: 2%;
  width: fit-content;
    }

    .LoginContainer h3 {
      padding: 10px;
  margin: auto;
  margin-top: 2%;
    }

    .Login {
      padding: 30px;
      border: solid #9b9b9b;
  border-radius: 12px;
  margin: auto;
  margin-top: 2%;
  width: fit-content;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  .SignupLink {
    padding: 5px;
margin: auto;
margin-top: 0%;
width: fit-content;
font-size: 1.2rem;
  }